{% extends "index.html" %}
{% load static %}
{% block ProjectManeiro_content %}

<br>
<tbody>

    <table border="1" bgcolor="darkblue">
        <thead>
            <tr><td><h10 style="color:white" >&nbsp&nbsp&nbsp&nbsp</h10></td></tr>
            <tr><td><h4 style="color:white" >&nbsp&nbsp- Federación Argentina de Básquet&nbsp&nbsp</h4></td></tr>
            <tr><td><h4 style="color:white" >&nbsp&nbsp- Versión: 1.68.1&nbsp&nbsp</h4></td></tr>
            <tr><td><h4 style="color:white" >&nbsp&nbsp- Fecha: 2022-06-14 Hora: 12:48:58&nbsp&nbsp</h4></td></tr>
            <tr><td><h10 style="color:white" >&nbsp&nbsp&nbsp&nbsp</h10></td></tr>
        </thead>
    </table>
    
</tbody>


{% endblock %}