{% extends "index.html" %}
{% load static %}
{% block ProjectManeiro_content %}

<br>
<tbody>

    <table border="1" bgcolor="darkblue">
        <thead>
            <tr><td><h10 style="color:white" >&nbsp&nbsp&nbsp&nbsp</h10></td></tr>
            <tr><td><h4 style="color:white" >&nbsp&nbsp- Nombre: {{n1}} &nbsp&nbsp</h4></td></tr>
            <tr><td><h4 style="color:white" >&nbsp&nbsp- Email: santimaneiro@live.com.ar &nbsp&nbsp</h4></td></tr>
            <tr><td><h4 style="color:white" >&nbsp&nbsp- Teléfono: 11-63063353 &nbsp&nbsp</h4></td></tr>
            <tr><td><h4 style="color:white" >&nbsp&nbsp- Ubicación: Buenos Aires, Argentina &nbsp&nbsp</h4></td></tr>
            <tr><td><h10 style="color:white" >&nbsp&nbsp&nbsp&nbsp</h10></td></tr>
        </thead>
    </table>

</tbody>


{% endblock %}