{% extends "index.html" %}
{% load static %}
{% block ProjectManeiro_content %}

{% if user.is_authenticated %}
<h2>Lista de Ligas</h2>
<a class="btn btn-azul" href="{% url 'ligas:ligas-add' %}">Crear nueva Liga</a>
{% endif %}
<hr></hr>
<ul>{% if user.is_authenticated %}
    {% for ligas in ligas_list %}
    <li>
        {{ligas}}
        (
            <a href="{% url 'ligas:ligas-detail' ligas.id %}">
                <i class="fa fa-eye" style="color:greenyellow"> </i>
            </a>
        |
        <a href="{% url 'ligas:ligas-update' ligas.id %}">
            <i class="fa fa-pencil" style="color:gold"> </i>
        </a>
        |
        <a href="{% url 'ligas:ligas-delete' ligas.id %}">
            <i class="fa fa-trash" style="color:red"> </i>
        </a>
        )
    </li>
    {% endfor %}
    {% else %}
    <br>
    <table border="1" bgcolor="darkred">
        <thead>
            <th><br><h2 style="color:white" >&nbsp&nbspDEBE IDENTIFICARSE COMO USUARIO&nbsp&nbsp</h2><br></th>
        </thead>
    </table>
    <br>
    {% endif %}
</ul>

{% endblock %}